{% macro initial_cluster() -%}
{% for host in groups['etcd-nodes'] -%}
   https://{{ hostvars[host]['etcd_machine_address'] }}:{{ etcd_client_port }}
  {%- if not loop.last -%},{%- endif -%}
{%- endfor -%}
{% endmacro -%}

# add /usr/local/bin
PATH=$PATH:/usr/local/bin
export PATH

# added for etcdctl
#
# ENV - enviromental variables for etcdctl - place in ~/.bash_profile
export ETCDCTL_ENDPOINTS={{ initial_cluster() }}
export ETCDCTL_CA_FILE={{ etcd_ca_file }}
export ETCDCTL_CERT_FILE={{ etcd_client_cert_file }}
export ETCDCTL_KEY_FILE={{ etcd_client_key_file }}
