apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello
spec:
  selector:
    matchLabels:
      app: hello
      department: dev
  replicas: 3
  template:
    metadata:
      labels:
        app: hello
        department: dev
    spec:
      containers:
      - name: hello
        image: "gcr.io/google-samples/hello-app:2.0"
        #---  env for nodeport type service
        #env:
        #  - name: "PORT"
        #    value: "40000"
        #---  env for loadbalancer type service
        #env:
        #  - name: "PORT"
        #    value: "40001"
---
apiVersion: v1
kind: Service
metadata:
  name: hello
spec:
  type: ClusterIP
  selector:
    app: hello
    department: dev
  ports:
  - name: default
    protocol: TCP
    port: 80
    targetPort: 8080
