apiVersion: apps/v1
kind: Deployment
metadata:
  name: myip
  labels:
    app: myip
  namespace: default
  annotations:
    monitoring: "true"
spec:
  replicas: 3
  selector:
    matchLabels:
      app: myip
  template:
    metadata:
      labels:
        app: myip
    spec:
      containers:
      - image: cloudnativelabs/whats-my-ip
        name: myip
        ports:
        - containerPort: 8080
        resources:
          limits:
            memory: "256Mi"
            cpu: "512m"
          requests:
            memory: "128Mi"
            cpu: "128m"
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: myip
  name: myip
  namespace: default
#spec:
#  ports:
#  - nodePort: 30089
#    port: 8080
#    protocol: TCP
#    targetPort: 8080
#  selector:
#    app: myip
#  type: NodePort
spec:
  type: LoadBalancer
  # use externalTrafficPolicy: Local to make node attract traffic if there are running one or more of service pod locally 
  # remark: externalTrafficPolicy not set or set to Cluster, we will can not connect from node without local running service pod - e.g., from master
  #externalTrafficPolicy: Local
  selector:
    app: myip
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
