---
kind: DaemonSet
apiVersion: extensions/v1beta1
metadata:
  name: tcp-echo-server
  labels:
    app: tcp-echo-server 
spec:
  template:
    metadata:
      name: tcp-echo-server
      labels:
        app: tcp-echo-server
    spec:
      hostNetwork: true
      containers:
      - image: maniankara/tcp-echo:1.0
        ports:
        - containerPort: 446
        name: tcp-echo-server
        args: ["--port", "446"]
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: tcp-echo-server
  name: echo-server
  namespace: default
spec:
  type: LoadBalancer
  selector:
    app: tcp-echo-server
  ports:
    - protocol: TCP
      port: 446
      targetPort: 446
