apiVersion: v1
kind: ConfigMap
metadata:
  namespace: metallb-system
  name: config
data:
  config: |
    peers:
    - peer-address: {{ metallb_bgp_peer_ip }}
      peer-asn: {{ metallb_bgp_peer_asn }}
      my-asn: {{ metallb_bgp_my_asn }}
    address-pools:
    - name: lb-lan-ip-pool
      protocol: bgp
      #auto-assign: false
      avoid-buggy-ips: true
      addresses:
      - {{ metallb_ip_pool_start_ip_cidr }}
#    bgp-advertisements:
#    - aggregation-length: 32
#      localpref: 100
#      communities:
#      - 64512:1
#      #- no-export  
#    #bgp-communities:
#      # no-export is a well-known BGP community that prevents
#      # re-advertisement outside of the immediate autonomous system,
#      # but people don't usually recognize its numerical value. :)
#      #no-export: 65535:65281
#
#    - name: ip-pool-for-web-sites
#      protocol: layer2
#      addresses:
#      - 10.0.0.221-10.0.0.223
