#!/bin/bash
# file: /etc/sysconfig/modules/ipvs.modules
# mod 755
# function: load ipvs related modules on boot
# check: # lsmod | grep -e ip_vs -e nf_conntrack_ipv4
#

modprobe -- ip_vs
modprobe -- ip_vs_rr
modprobe -- ip_vs_wrr
modprobe -- ip_vs_sh
modprobe -- nf_conntrack_ipv4
